{% extends "layout.html" %}
{% block scripts %}
{% if user and user.admin %}
<script type="text/javascript">
document.getElementById("approval-button").addEventListener('click', function(e) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/api/v1/{{ package.repo }}/{{ package.name }}/approve');
    xhr.onload = function() {
        window.location = window.location;
    };
    xhr.send();
}, false);
</script>
{% endif %}
{% endblock %}
{% block title %}
<title>{{ package.repo }}/{{ package.name }} {{ package.version }}</title>
{% endblock %}
{% block body %}
<div class="pull-right" style="margin-top: 15px;">
    <a href="/{{ package.repo }}/{{ package.name }}/download" class="btn btn-success">Download Package</a>
</div>
<h2><small>{{ package.repo }}/</small>{{ package.name }} {{ package.version }}</h2>
{% if not package.approved %}
<div class="alert alert-warning">
    {% if user and user.admin %}
    <button class="btn btn-primary pull-right btn-sm" style="margin-top: -5px;" id="approval-button">Approve</button>
    {% endif %}
    <p>This package has not yet been approved. You install it at your own risk.</p>
</div>
{% endif %}
<table class="table">
    <tbody>
        {% if package.description %}
        <tr>
            <th>Description</th>
            <td>{{ package.description }}</td>
        </tr>
        {% endif %}
        {% if len(package.dependencies) != 0 %}
        <tr>
            <th>Dependencies</th>
            <td>
                {% for d in package.dependencies %}
                <a href="/{{ d.repo }}/{{ d.name }}">{{ d.repo }}/{{ d.name }}</a><br />
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Last Updated</th>
            <td>{{ package.updated.strftime("%G-%m-%d") }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ package.version }}</td>
        </tr>
        <tr>
            <th>Repository</th>
            <td>{{ package.repo }}</td>
        </tr>
        {% if package.copyright %}
        <tr>
            <th>Copyright</th>
            <td>{{ package.copyright }}</td>
        </tr>
        {% endif %}
        {% if package.author %}
        <tr>
            <th>Author</th>
            <td>{{ package.author }}</td>
        </tr>
        {% endif %}
        {% if package.maintainer %}
        <tr>
            <th>Maintainer</th>
            <td>{{ package.maintainer }}</td>
        </tr>
        {% endif %}
        {% if package.capabilities %}
        <tr>
            <th>Required Capabilities</th>
            <td>{{ package.capabilities }}</td>
        </tr>
        {% endif %}
        {% if package.infourl %}
        <tr>
            <th>Info URL</th>
            <td><a href="{{ package.infourl }}">{{ package.infourl }}</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>


<div class="panel panel-default">
    <div class="panel-body">
    <b><u>Package Contents:</u></b>
        <ul id="package-contents">
             {%- for key, value in packageContents.items() recursive%}
                 <li>{{key}}
                     <ul id="package-contents">
                         {%-if key != value %}
                             {{loop(value.items())}}
                         {%- endif %}
                     </ul>
                 </li>
             {%- endfor%}

        </ul>
    </div>
</div>

{% endblock %}
