{% extends "layout.html" %}
{% block body %}


<form id="searchForm" role="search" method="GET" action="/search" class="row">
    <div class="col-md-2">
        <select name="count" class="form-control" form="searchForm" value="{{ count }}">
          <option {{'selected' if request.args.get('count')|int==10 else ''}} value="10">10</option>
          <option {{'selected' if request.args.get('count')|int==25 else ''}} value="25">25</option>
          <option {{'selected' if request.args.get('count')|int==50 else ''}} value="50">50</option>
          <option {{'selected' if request.args.get('count')|int==100 else ''}} value="100">100</option>
        </select>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <input type="text" name="terms" class="form-control input-block-level" placeholder="Search packages" value="{{ terms }}">
        </div>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-default btn-block">Submit</button>
    </div>
</form>
<table class="table">
    <tbody>
        {% for result in results %}
        <tr>
            <td><a href="/{{ result.repo }}/{{ result.name }}">{{ result.repo }}/{{ result.name }}</a></td>
            <td>{{ result.version }}</td>
            <td>{{ result.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination">
    {% for i in range(pageCount) %}
        {% if not request.args.get('page') %}
            {% if i == 0 %}
                <li class="active"><a href="/search?terms={{terms}}&count={{ request.args.get('count') }}&page={{ i }}">{{ i + 1}}</a></li>
            {% else %}
                <li><a href="/search?terms={{terms}}&count={{ request.args.get('count') }}&page={{ i }}">{{ i + 1}}</a></li>
            {% endif %}
        {% else %}
            {% if request.args.get('page')|int == i %}
                <li class="active"><a href="/search?terms={{terms}}&count={{ request.args.get('count') }}&page={{ i }}">{{ i + 1}}</a></li>
            {% else %}
                <li><a href="/search?terms={{terms}}&count={{ request.args.get('count') }}&page={{ i }}">{{ i + 1}}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
