{% extends "layout.html" %}
{% block scripts %}
    {% if current_user and current_user.admin %}
    <script type="text/javascript" src="{{ url_for('static', filename='user-admin-buttons.js') }}"></script>
    <script type="text/javascript">
        setup_user_admin('{{user_profile.username|safe}}');
    </script>
    {% endif %}
{% endblock %}

{% block title %}
<title>{{ user_profile.username }}</title>
{% endblock %}

{% block body %}
<h2>{{ user_profile.username }}</h2>
{% if current_user and current_user.admin %}
    {% if user_profile.confirmation != None %}
        <div class="alert alert-warning">
            <button class="btn btn-primary pull-right btn-sm" style="margin-top: -5px;" id="confirm-user-button">Confirm User</button>
            <button id="unconfirm-user-button" hidden="hidden"></button>
            <p>This user has not confirmed their email address.</p>
        </div>
    {% else %}
        <div class="alert alert-success">
            <button class="btn btn-primary pull-right btn-sm" style="margin-top: -5px;" id="unconfirm-user-button">Unconfirm User</button>
            <button id="confirm-user-button" hidden="hidden"></button>
            <p>This user has confirmed their email address..</p>
        </div>
    {% endif %}
    {% if not user_profile.admin %}
        <div class="alert alert-warning">
            <button class="btn btn-primary pull-right btn-sm" style="margin-top: -5px;" id="set-admin-button">Make Admin</button>
            <button id="remove-admin-button" hidden="hidden"></button>
            <p>This user is not currently an admin.</p>
        </div>
    {% else %}
        <div class="alert alert-success">
            <button class="btn btn-primary pull-right btn-sm" style="margin-top: -5px;" id="remove-admin-button">Remove Admin</button>
            <button id="set-admin-button" hidden="hidden"></button>
            <p>This user is already an admin.</p>
        </div>
     {% endif %}
{% endif %}
<table class="table">
    <tbody>
        <tr>
            <th>Knighted Since</th>
            <td>{{ user_profile.created.strftime('%B %d, %Y') }} </td>
        </tr>
        {% if user_profile.username == user.username or user.admin %}
        <tr>
            <th>Email</th>
            <td><a href="mailto:{{ user_profile.email }}">{{ user_profile.email }}</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<table class="table">
    <tbody>
        <tr>
            <th><b>Package</b></th>
            <td><b>Last Updated</b></td>
        </tr>
        {% if len(user_packages) == 0 %}
            <tr>
                <th><em>(none)</em></th>
                <td></td>
            </tr>
        {% endif %}
        {% for p in user_packages %}
        <tr>
            <th><a href="/{{ p.repo }}/{{ p.name }}">{{ p.repo }}/{{ p.name }}</a> {{ p.version }}</th>
            <td>{{ p.updated.strftime("%G-%m-%d") }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
